In [2]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

In [3]:
accounts = pd.read_csv(r"C:\Users\Bhavesh\OneDrive - Shri Vile Parle Kelavani Mandal\Documents\Data_Analyst_Projects\Saas_Subscription_Analysis_&_Churn_Retention_Project\data\ravenstack_accounts.csv")
subscriptions = pd.read_csv(r"C:\Users\Bhavesh\OneDrive - Shri Vile Parle Kelavani Mandal\Documents\Data_Analyst_Projects\Saas_Subscription_Analysis_&_Churn_Retention_Project\data\ravenstack_subscriptions.csv")
churn_events = pd.read_csv(r"C:\Users\Bhavesh\OneDrive - Shri Vile Parle Kelavani Mandal\Documents\Data_Analyst_Projects\Saas_Subscription_Analysis_&_Churn_Retention_Project\data\ravenstack_churn_events.csv")
feature_usage = pd.read_csv(r"C:\Users\Bhavesh\OneDrive - Shri Vile Parle Kelavani Mandal\Documents\Data_Analyst_Projects\Saas_Subscription_Analysis_&_Churn_Retention_Project\data\ravenstack_feature_usage.csv")
support_tickets = pd.read_csv(r"C:\Users\Bhavesh\OneDrive - Shri Vile Parle Kelavani Mandal\Documents\Data_Analyst_Projects\Saas_Subscription_Analysis_&_Churn_Retention_Project\data\ravenstack_support_tickets.csv")

In [3]:
accounts.shape

(500, 10)

In [4]:
accounts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   account_id       500 non-null    object
 1   account_name     500 non-null    object
 2   industry         500 non-null    object
 3   country          500 non-null    object
 4   signup_date      500 non-null    object
 5   referral_source  500 non-null    object
 6   plan_tier        500 non-null    object
 7   seats            500 non-null    int64
 8   is_trial         500 non-null    bool
 9   churn_flag       500 non-null    bool
dtypes: bool(2), int64(1), object(7)
memory usage: 32.4+ KB

In [5]:
accounts.head(5)

,account_id,account_name,industry,country,signup_date,referral_source,plan_tier,seats,is_trial,churn_flag
0,A-2e4581,Company_0,EdTech,US,2024-10-16,partner,Basic,9,False,False
1,A-43a9e3,Company_1,FinTech,IN,2023-08-17,other,Basic,18,False,True
2,A-0a282f,Company_2,DevTools,US,2024-08-27,organic,Basic,1,False,False
3,A-1f0ac7,Company_3,HealthTech,UK,2023-08-27,other,Basic,24,True,False
4,A-ce550d,Company_4,HealthTech,US,2024-10-27,event,Enterprise,35,False,True

In [6]:
subscriptions.shape

(5000, 14)

In [7]:
subscriptions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   subscription_id    5000 non-null   object
 1   account_id         5000 non-null   object
 2   start_date         5000 non-null   object
 3   end_date           486 non-null    object
 4   plan_tier          5000 non-null   object
 5   seats              5000 non-null   int64
 6   mrr_amount         5000 non-null   int64
 7   arr_amount         5000 non-null   int64
 8   is_trial           5000 non-null   bool
 9   upgrade_flag       5000 non-null   bool
 10  downgrade_flag     5000 non-null   bool
 11  churn_flag         5000 non-null   bool
 12  billing_frequency  5000 non-null   object
 13  auto_renew_flag    5000 non-null   bool
dtypes: bool(5), int64(3), object(6)
memory usage: 376.1+ KB

In [8]:
subscriptions.head(5)

,subscription_id,account_id,start_date,end_date,plan_tier,seats,mrr_amount,arr_amount,is_trial,upgrade_flag,downgrade_flag,churn_flag,billing_frequency,auto_renew_flag
0,S-8cec59,A-3c1a3f,2023-12-23,2024-04-12,Enterprise,14,2786,33432,False,False,False,True,monthly,True
1,S-0f6f44,A-9b9fe9,2024-06-11,NaN,Pro,17,833,9996,False,False,False,False,monthly,True
2,S-51c0d1,A-659280,2024-11-25,NaN,Enterprise,62,0,0,True,True,False,False,annual,False
3,S-f81687,A-e7a1e2,2024-11-23,2024-12-13,Enterprise,5,995,11940,False,False,False,True,monthly,True
4,S-cff5a2,A-ba6516,2024-01-10,NaN,Enterprise,27,5373,64476,False,False,False,False,monthly,True

In [9]:
churn_events.shape

(600, 9)

In [10]:
churn_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   churn_event_id            600 non-null    object
 1   account_id                600 non-null    object
 2   churn_date                600 non-null    object
 3   reason_code               600 non-null    object
 4   refund_amount_usd         600 non-null    float64
 5   preceding_upgrade_flag    600 non-null    bool
 6   preceding_downgrade_flag  600 non-null    bool
 7   is_reactivation           600 non-null    bool
 8   feedback_text             452 non-null    object
dtypes: bool(3), float64(1), object(5)
memory usage: 30.0+ KB

In [11]:
churn_events.head(5)

,churn_event_id,account_id,churn_date,reason_code,refund_amount_usd,preceding_upgrade_flag,preceding_downgrade_flag,is_reactivation,feedback_text
0,C-816288,A-c37cab,2024-10-27,pricing,4.03,False,False,False,switched to competitor
1,C-5a81e7,A-37f969,2024-06-25,support,96.45,True,False,False,NaN
2,C-a174be,A-b07346,2024-11-12,budget,0.00,False,False,False,missing features
3,C-accb39,A-1e50e0,2023-11-01,budget,54.94,False,False,False,switched to competitor
4,C-92f889,A-956988,2024-12-30,unknown,0.00,False,True,True,too expensive

In [12]:
feature_usage.shape

(25000, 8)

In [13]:
feature_usage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   usage_id             25000 non-null  object
 1   subscription_id      25000 non-null  object
 2   usage_date           25000 non-null  object
 3   feature_name         25000 non-null  object
 4   usage_count          25000 non-null  int64
 5   usage_duration_secs  25000 non-null  int64
 6   error_count          25000 non-null  int64
 7   is_beta_feature      25000 non-null  bool
dtypes: bool(1), int64(3), object(4)
memory usage: 1.4+ MB

In [14]:
feature_usage.head(5)

,usage_id,subscription_id,usage_date,feature_name,usage_count,usage_duration_secs,error_count,is_beta_feature
0,U-1c6c24,S-0fcf7d,2023-07-27,feature_20,9,5004,0,False
1,U-f07cb8,S-c25263,2023-08-07,feature_5,9,369,0,False
2,U-096807,S-f29e7f,2023-12-07,feature_3,9,1458,0,False
3,U-6b1580,S-be655e,2024-07-28,feature_40,5,2085,0,False
4,U-720a29,S-f9b1d0,2024-12-02,feature_12,12,900,0,False

In [15]:
support_tickets.shape

(2000, 9)

In [16]:
support_tickets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ticket_id                    2000 non-null   object
 1   account_id                   2000 non-null   object
 2   submitted_at                 2000 non-null   object
 3   closed_at                    2000 non-null   object
 4   resolution_time_hours        2000 non-null   float64
 5   priority                     2000 non-null   object
 6   first_response_time_minutes  2000 non-null   int64
 7   satisfaction_score           1175 non-null   float64
 8   escalation_flag              2000 non-null   bool
dtypes: bool(1), float64(2), int64(1), object(5)
memory usage: 127.1+ KB

In [17]:
support_tickets.head(5)

,ticket_id,account_id,submitted_at,closed_at,resolution_time_hours,priority,first_response_time_minutes,satisfaction_score,escalation_flag
0,T-0024de,A-712f1c,2023-07-27,2023-07-28 03:00:00,27.0,high,74,NaN,False
1,T-4d04b9,A-e43bf7,2024-07-08,2024-07-09 03:00:00,27.0,urgent,144,NaN,False
2,T-d5e12f,A-0f3e88,2024-10-17,2024-10-17 19:00:00,19.0,urgent,93,4.0,False
3,T-dfce9a,A-4c56c9,2024-09-08,2024-09-09 23:00:00,47.0,medium,126,5.0,False
4,T-c59f77,A-6f8ad2,2024-11-30,2024-12-01 02:00:00,26.0,medium,8,NaN,False

In [19]:
accounts['account_id'].is_unique

True

In [20]:
subscriptions['subscription_id'].is_unique

True

In [21]:
churn_events['churn_event_id'].is_unique

True

In [22]:
subscriptions['account_id'].isin(accounts['account_id']).all()

np.True_

In [23]:
churn_events['account_id'].isin(accounts['account_id']).all()

np.True_

In [24]:
support_tickets['account_id'].isin(accounts['account_id']).all()

np.True_

In [4]:
date_cols_accounts = ['signup_date']
date_cols_subs = ['start_date', 'end_date']
date_cols_churn = ['churn_date']

for col in date_cols_accounts: 
    accounts[col] = pd.to_datetime(accounts[col])

for col in date_cols_subs:
    subscriptions[col] = pd.to_datetime(subscriptions[col])

for col in date_cols_churn:
    churn_events[col] = pd.to_datetime(churn_events[col])

In [5]:
master = accounts.copy()
master.shape

(500, 10)

In [6]:
subs_agg = (
    subscriptions
    .groupby('account_id')
    .agg(
        subscription_start = ('start_date', 'min'),
        subscription_end = ('end_date', 'max'),
        total_mrr = ('mrr_amount', 'sum'),
        total_arr = ('arr_amount', 'sum'),
        has_upgraded = ('upgrade_flag', 'max'),
        has_downgraded = ('downgrade_flag', 'max'),
        billing_frequency = ('billing_frequency', lambda x: x.mode().iloc[0]),
        current_plan = ('plan_tier', lambda x: x.iloc[-1])
    )
    .reset_index()
)

subs_agg.head(5)

,account_id,subscription_start,subscription_end,total_mrr,total_arr,has_upgraded,has_downgraded,billing_frequency,current_plan
0,A-00bed1,2023-11-16,NaT,33506,402072,True,False,annual,Pro
1,A-00cac8,2023-09-16,NaT,14121,169452,False,True,monthly,Pro
2,A-0158bb,2024-05-30,NaT,4070,48840,True,False,monthly,Basic
3,A-016043,2024-08-02,2024-12-21,16516,198192,True,False,annual,Enterprise
4,A-019782,2023-06-08,2023-11-27,8353,100236,True,False,annual,Basic

In [7]:
churn_agg = (
    churn_events
    .groupby('account_id')
    .agg(
        churned = ('account_id', 'count'),
        churned_date = ('churn_date', 'max'),
        churned_reason = ('reason_code', lambda x: x.mode().iloc[0]),
        refund_amount = ('refund_amount_usd', 'sum'),
        reactivated = ('is_reactivation', 'max')
    )
    .reset_index()
)

churn_agg['churned'] = churn_agg['churned'] > 0
churn_agg.head(5)

  account_id  churned churned_date churned_reason  refund_amount  reactivated
0   A-00bed1     True   2024-01-03        unknown          21.17        False
1   A-016043     True   2024-08-11     competitor          84.75        False
2   A-029f69     True   2024-12-14     competitor          32.73        False
3   A-02cd81     True   2024-04-30        pricing           0.00        False
4   A-02fac6     True   2024-08-21        support           0.00        False

In [8]:
usage_agg = (
    feature_usage
    .groupby('subscription_id')
    .agg(
        total_usage = ('usage_count', 'sum'),
        total_time = ('usage_duration_secs', 'sum'),
        total_errors = ('error_count', 'sum'),
        total_beta = ('is_beta_feature', 'max')
    )
    .reset_index()
)

usage_agg.head(5)

  subscription_id  total_usage  total_time  total_errors  total_beta
0        S-001561           48       21604             3       False
1        S-0027d3           44       20848             0       False
2        S-003647           71       13018             3        True
3        S-003fc0           43       11933             1       False
4        S-004d19           18        5616             0       False

In [9]:
usage_agg = usage_agg.merge(
    subscriptions[['subscription_id', 'account_id']],
    on = 'subscription_id',
    how = 'left'
)

In [10]:
usage_agg = (
    usage_agg
    .groupby('account_id')
    .agg(
        total_usage = ('total_usage', 'sum'),
        total_time = ('total_time', 'sum'),
        total_errors = ('total_errors', 'sum'),
        used_beta = ('total_beta', 'max')
    )
    .reset_index()
)

usage_agg.head(5)

  account_id  total_usage  total_time  total_errors  used_beta
0   A-00bed1          514      143734            27       True
1   A-00cac8          602      171366            31       True
2   A-0158bb          364      122051            22       True
3   A-016043          490      132075            21       True
4   A-019782          562      160848            30       True

In [11]:
tickets_agg = (
    support_tickets
    .groupby('account_id')
    .agg(
        total_tickets = ('ticket_id', 'count'),
        avg_resolution_time = ('resolution_time_hours', 'mean'),
        high_priority_tickets = ('priority', lambda x: (x.isin(['high', 'urgent'])).sum()),
        escalations = ('escalation_flag', 'sum'),
        avg_satisfaction = ('satisfaction_score', 'mean')
    )
    .reset_index()
)
tickets_agg.head(5)

,account_id,total_tickets,avg_resolution_time,high_priority_tickets,escalations,avg_satisfaction
0,A-00bed1,4,31.750000,4,0,4.0
1,A-00cac8,2,33.000000,2,0,NaN
2,A-0158bb,1,32.000000,1,0,3.0
3,A-016043,3,30.333333,2,0,4.0
4,A-019782,2,10.000000,2,0,3.0

In [12]:
master = master.merge(subs_agg, on = 'account_id', how = 'left')
master = master.merge(churn_agg, on = 'account_id', how = 'left')
master = master.merge(usage_agg, on = 'account_id', how = 'left')
master = master.merge(tickets_agg, on = 'account_id', how = 'left')

master.shape

(500, 32)

In [36]:
master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   account_id             500 non-null    object
 1   account_name           500 non-null    object
 2   industry               500 non-null    object
 3   country                500 non-null    object
 4   signup_date            500 non-null    datetime64[ns]
 5   referral_source        500 non-null    object
 6   plan_tier              500 non-null    object
 7   seats                  500 non-null    int64
 8   is_trial               500 non-null    bool
 9   churn_flag             500 non-null    bool
 10  subscription_start     500 non-null    datetime64[ns]
 11  subscription_end       312 non-null    datetime64[ns]
 12  total_mrr              500 non-null    int64
 13  total_arr              500 non-null    int64
 14  has_upgraded           500 non-null    bool
 15  has_downgraded         500 non-null    bool
 16  billing_frequency      500 non-null    object
 17  current_plan           500 non-null    object
 18  churned                352 non-null    object
 19  churned_date           352 non-null    datetime64[ns]
 20  churned_reason         352 non-null    object
 21  refund_amount          352 non-null    float64
 22  reactivated            352 non-null    object
 23  total_usage            500 non-null    int64
 24  total_time             500 non-null    int64
 25  total_errors           500 non-null    int64
 26  used_beta              500 non-null    bool
 27  total_tickets          492 non-null    float64
 28  avg_resolution_time    492 non-null    float64
 29  high_priority_tickets  492 non-null    float64
 30  escalations            492 non-null    float64
 31  avg_satisfaction       466 non-null    float64
dtypes: bool(5), datetime64[ns](4), float64(6), int64(6), object(11)
memory usage: 108.0+ KB

In [13]:
master['churned'] = master['churned'].fillna(False)
master['reactivated'] = master['reactivated'].fillna(False)

numeric_cols = [
    'total_mrr', 'total_arr', 'total_usage', 'total_time', 'total_tickets', 'total_errors', 'escalations'
]
master[numeric_cols] = master[numeric_cols].fillna(0)

C:\Users\Bhavesh\AppData\Local\Temp\ipykernel_13896\2110866927.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  master['churned'] = master['churned'].fillna(False)
C:\Users\Bhavesh\AppData\Local\Temp\ipykernel_13896\2110866927.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  master['reactivated'] = master['reactivated'].fillna(False)

In [14]:
analysis_date = pd.to_datetime('today')

master['end_date_final'] = master['churned_date'].fillna(analysis_date)

master['tenure_days'] = (
    master['end_date_final'] - master['signup_date']
).dt.days

### Overall Churn Rate

In [15]:
total_customers = master.shape[0]
churned_customers = master['churned'].sum()

churn_rate = churned_customers / total_customers
churn_rate

np.float64(0.704)

### Churn Rate by Plan Tier

In [16]:
churn_by_plan = (
    master
    .groupby('current_plan')
    .agg(
        customers = ('account_id', 'count'),
        churned = ('churned', 'sum')
    )
    .reset_index()
)

churn_by_plan['churn_rate'] = churn_by_plan['churned'] / churn_by_plan['customers']
churn_by_plan

  current_plan  customers  churned  churn_rate
0        Basic        160      111    0.693750
1   Enterprise        180      131    0.727778
2          Pro        160      110    0.687500

### Churn by Industry

In [17]:
churn_by_industry = (
    master
    .groupby('industry')
    .agg(
        customers = ('account_id', 'count'),
        churned = ('churned', 'sum')
    )
    .reset_index()
)

churn_by_industry['churn_rate'] = churn_by_industry['churned'] / churn_by_industry['customers']

In [44]:
churn_by_industry.sort_values('churn_rate', ascending=False)

        industry  customers  churned  churn_rate
1       DevTools        113       83    0.734513
2         EdTech         79       57    0.721519
0  Cybersecurity        100       72    0.720000
3        FinTech        112       76    0.678571
4     HealthTech         96       64    0.666667

### Churn by Country

In [18]:
churn_by_country = (
    master
    .groupby('country')
    .agg(
        customers = ('account_id', 'count'),
        churned = ('churned', 'sum')
    )
    .reset_index()
)

churn_by_country['churn_rate'] = churn_by_country['churned'] / churn_by_country['customers']

In [47]:
churn_by_country.sort_values('churn_rate', ascending=False).reset_index()

   index country  customers  churned  churn_rate
0      5      UK         58       45    0.775862
1      3      FR         22       16    0.727273
2      6      US        291      206    0.707904
3      1      CA         23       16    0.695652
4      0      AU         32       22    0.687500
5      4      IN         49       33    0.673469
6      2      DE         25       14    0.560000

### Tenure based Churn

In [19]:
master['tenure_bucket'] = pd.cut(
    master['tenure_days'],
    bins = [0, 30, 90, 180, 365, 9999],
    labels = ['<1 Month', '1-3 Months', '3-6 Months', '6-12 Months', '1+ Year']
)

In [20]:
churn_by_tenure = (
     master
    .groupby('tenure_bucket')
    .agg(
        customers = ('account_id', 'count'),
        churned = ('churned', 'sum')
    )
    .reset_index()
)

churn_by_tenure['churn_rate'] = churn_by_tenure['churned'] / churn_by_tenure['customers']

C:\Users\Bhavesh\AppData\Local\Temp\ipykernel_13896\2087268209.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  .groupby('tenure_bucket')

In [50]:
churn_by_tenure.sort_values('churn_rate', ascending = False)

  tenure_bucket  customers  churned  churn_rate
0      <1 Month         45       45    1.000000
1    1-3 Months         81       81    1.000000
2    3-6 Months         65       65    1.000000
3   6-12 Months         86       86    1.000000
4       1+ Year        223       75    0.336323

### Engagement Vs Churn

In [21]:
engagement_churn = (
    master
    .groupby('churned')
    .agg(
        avg_usage = ('total_usage', 'mean'),
        avg_time_spent = ('total_time', 'mean'),
        avg_errors = ('total_errors', 'mean'),
        avg_tickets = ('total_tickets', 'mean')
    )
    .reset_index()
)

In [52]:
engagement_churn

   churned   avg_usage  avg_time_spent  avg_errors  avg_tickets
0    False  495.378378   149885.236486   27.790541     4.087838
1     True  503.434659   153045.616477   28.392045     3.963068

In [22]:
master['cohort_month'] = master['signup_date'].dt.to_period('M').dt.to_timestamp()

In [23]:
master['tenure_months'] = (master['tenure_days'] / 30).astype(int)

In [24]:
cohort_counts = (
    master
    .groupby(['cohort_month', 'tenure_months'])
    .agg(customers = ('account_id', 'nunique'))
    .reset_index()
)

cohort_counts.head()

  cohort_month  tenure_months  customers
0   2023-01-01              3          2
1   2023-01-01              5          1
2   2023-01-01              9          3
3   2023-01-01             15          1
4   2023-01-01             17          2

In [25]:
cohort_pivot = cohort_counts.pivot(
    index="cohort_month",
    columns="tenure_months",
    values="customers"
)

In [26]:
cohort_size = cohort_pivot.iloc[:, 0]

retention_matrix = cohort_pivot.divide(cohort_size, axis=0)

In [27]:
retention_matrix = retention_matrix.loc[:, :12]

In [28]:
master["tenure_bucket"] = pd.cut(
    master["tenure_months"],
    bins=[0, 1, 3, 6, 12, 24, 60],
    labels=["<1m", "13m", "36m", "612m", "12y", "2y+"]
)

In [29]:
retention_dist = (
    master
    .groupby(["cohort_month", "tenure_bucket"])
    .agg(customers=("account_id", "count"))
    .reset_index()
)

C:\Users\Bhavesh\AppData\Local\Temp\ipykernel_13896\4192049496.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  .groupby(["cohort_month", "tenure_bucket"])

In [30]:
retention_dist["cohort_size"] = retention_dist.groupby("cohort_month")["customers"].transform("sum")
retention_dist["retention_pct"] = retention_dist["customers"] / retention_dist["cohort_size"]

In [31]:
retention_matrix = retention_dist.pivot(
    index="cohort_month",
    columns="tenure_bucket",
    values="retention_pct"
)

In [74]:
retention_matrix

tenure_bucket       <1m      13m      36m     612m      12y       2y+
cohort_month
2023-01-01     0.000000  0.117647  0.058824  0.176471  0.352941  0.294118
2023-02-01     0.055556  0.055556  0.000000  0.111111  0.444444  0.333333
2023-03-01     0.000000  0.157895  0.052632  0.263158  0.315789  0.210526
2023-04-01     0.000000  0.066667  0.000000  0.000000  0.533333  0.400000
2023-05-01     0.000000  0.038462  0.038462  0.076923  0.346154  0.500000
2023-06-01     0.000000  0.000000  0.000000  0.076923  0.615385  0.307692
2023-07-01     0.000000  0.000000  0.076923  0.307692  0.307692  0.307692
2023-08-01     0.000000  0.000000  0.062500  0.312500  0.312500  0.312500
2023-09-01     0.000000  0.043478  0.260870  0.260870  0.260870  0.173913
2023-10-01     0.000000  0.000000  0.210526  0.421053  0.210526  0.157895
2023-11-01     0.080000  0.080000  0.120000  0.400000  0.080000  0.240000
2023-12-01     0.000000  0.210526  0.052632  0.526316  0.000000  0.210526
2024-01-01     0.000000  0.066667  0.333333  0.333333  0.266667  0.000000
2024-02-01     0.000000  0.250000  0.083333  0.250000  0.416667  0.000000
2024-03-01     0.080000  0.160000  0.240000  0.200000  0.320000  0.000000
2024-04-01     0.050000  0.150000  0.350000  0.200000  0.250000  0.000000
2024-05-01     0.190476  0.095238  0.285714  0.095238  0.333333  0.000000
2024-06-01     0.095238  0.190476  0.428571  0.000000  0.285714  0.000000
2024-07-01     0.083333  0.291667  0.208333  0.000000  0.416667  0.000000
2024-08-01     0.105263  0.315789  0.105263  0.000000  0.473684  0.000000
2024-09-01     0.055556  0.722222  0.000000  0.000000  0.222222  0.000000
2024-10-01     0.413793  0.172414  0.000000  0.000000  0.413793  0.000000
2024-11-01     0.608696  0.043478  0.000000  0.000000  0.347826  0.000000
2024-12-01     0.000000  0.000000  0.000000  0.333333  0.666667  0.000000

In [76]:
retention_matrix.to_csv(r"C:\Users\Bhavesh\OneDrive - Shri Vile Parle Kelavani Mandal\Documents\Data_Analyst_Projects\Saas_Subscription_Analysis_&_Churn_Retention_Project\output\retention_cohort_matrix.csv")

In [33]:
kpis = pd.DataFrame({
    "Metric": [
        "Total Customers",
        "Churned Customers",
        "Overall Churn Rate",
        "Average Tenure (Months)",
        "Early Churn (<3 months)"
    ],
    "Value": [
        master.shape[0],
        master["churned"].sum(),
        master["churned"].mean(),
        master["tenure_months"].mean(),
        (master["churned"] & (master["tenure_months"] < 3)).mean()
    ]
})

kpis.to_csv(r"C:\Users\Bhavesh\OneDrive - Shri Vile Parle Kelavani Mandal\Documents\Data_Analyst_Projects\Saas_Subscription_Analysis_&_Churn_Retention_Project\output\kpi_summary.csv", index=False)

In [34]:
churn_by_plan = (
    master
    .groupby("current_plan")
    .agg(
        customers=("account_id", "count"),
        churned=("churned", "sum")
    )
    .reset_index()
)

churn_by_plan["churn_rate"] = churn_by_plan["churned"] / churn_by_plan["customers"]

churn_by_plan.to_csv(r"C:\Users\Bhavesh\OneDrive - Shri Vile Parle Kelavani Mandal\Documents\Data_Analyst_Projects\Saas_Subscription_Analysis_&_Churn_Retention_Project\output\churn_by_plan.csv", index=False)

In [35]:
master["tenure_bucket"] = pd.cut(
    master["tenure_months"],
    bins=[0, 1, 3, 6, 12, 24, 60],
    labels=["<1 Month", "13 Months", "36 Months", "612 Months", "12 Years", "2+ Years"]
)

In [36]:
tenure_dist = (
    master
    .groupby("tenure_bucket")
    .agg(customers=("account_id", "count"))
    .reset_index()
)

tenure_dist.to_csv(r"C:\Users\Bhavesh\OneDrive - Shri Vile Parle Kelavani Mandal\Documents\Data_Analyst_Projects\Saas_Subscription_Analysis_&_Churn_Retention_Project\output\tenure_distribution.csv", index=False)

C:\Users\Bhavesh\AppData\Local\Temp\ipykernel_13896\3562215009.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  .groupby("tenure_bucket")

In [37]:
churn_reasons = (
    churn_events
    .groupby("reason_code")
    .agg(churn_count=("account_id", "count"))
    .reset_index()
)

churn_reasons.to_csv(r"C:\Users\Bhavesh\OneDrive - Shri Vile Parle Kelavani Mandal\Documents\Data_Analyst_Projects\Saas_Subscription_Analysis_&_Churn_Retention_Project\output\churn_reasons.csv", index=False)

In [39]:
churn_events["churn_month"] = churn_events["churn_date"].dt.to_period("M").dt.to_timestamp()

churn_trend = (
    churn_events
    .groupby("churn_month")
    .agg(churned_customers=("account_id", "nunique"))
    .reset_index()
    .sort_values("churn_month")
)

churn_trend.to_csv(r"C:\Users\Bhavesh\OneDrive - Shri Vile Parle Kelavani Mandal\Documents\Data_Analyst_Projects\Saas_Subscription_Analysis_&_Churn_Retention_Project\output\churn_trend_over_time.csv", index=False)

In [40]:
support_vs_churn = (
    master
    .groupby("churned")
    .agg(
        avg_tickets=("total_tickets", "mean"),
        avg_resolution_time=("avg_resolution_time", "mean")
    )
    .reset_index()
)

support_vs_churn["churned"] = support_vs_churn["churned"].map({True: "Churned", False: "Active"})

support_vs_churn.to_csv(r"C:\Users\Bhavesh\OneDrive - Shri Vile Parle Kelavani Mandal\Documents\Data_Analyst_Projects\Saas_Subscription_Analysis_&_Churn_Retention_Project\output\support_vs_churn.csv", index=False)